@model Booking

<div class="container" style="min-height: calc(100vh - 150px); display: flex; justify-content: center; align-items: center;">
    <div class="row bg-dark text-light rounded-4 shadow-lg overflow-hidden">
        <div class="col-12 col-lg-7 p-4">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3 class="text-info">Villa Details</h3>
                <a asp-controller="Home" asp-action="Index"
                   class="btn btn-outline-danger">
                    <i class="bi bi-arrow-left-square"></i> Modify Selection
                </a>
            </div>
            <hr class="border-secondary" />
            <partial name="_VillaDetail" model="@Model.Villa" />
            <hr class="border-secondary" />
            <div class="text-end">
                <h4 class="text-warning">
                    Booking Total:
                    <span class="border-bottom border-warning">
                        @Model.TotalCost.ToString("c")
                    </span>
                </h4>
            </div>
        </div>
        <div class="col-12 col-lg-5 p-4 border-start border-secondary">
            <form method="post">
                <input asp-for="VillaId" hidden />
                <input asp-for="UserId" hidden />
                <input asp-for="CheckInDate" hidden />
                <input asp-for="CheckOutDate" hidden />
                <input asp-for="Nights" hidden />
                <h3 class="text-info mb-4">Enter Booking Details</h3>

                <div class="form-group mb-3">
                    <label asp-for="Name" class="text-warning">Name</label>
                    <input asp-for="Name" class="form-control bg-transparent text-light border-secondary" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Phone" class="text-warning">Phone</label>
                    <input asp-for="Phone" class="form-control bg-transparent text-light border-secondary" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Email" class="text-warning">Email</label>
                    <input asp-for="Email" class="form-control bg-transparent text-light border-secondary" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label class="text-warning">Check-in Date</label>
                    <input value="@Model.CheckInDate" disabled class="form-control bg-transparent text-light border-secondary" />
                </div>
                <div class="form-group mb-3">
                    <label class="text-warning">Check-out Date</label>
                    <input value="@Model.CheckOutDate" disabled class="form-control bg-transparent text-light border-secondary" />
                </div>
                <div class="form-group mb-3">
                    <label class="text-warning">No. of Nights</label>
                    <input value="@Model.Nights" disabled class="form-control bg-transparent text-light border-secondary" />
                </div>
                <div class="form-group mt-4">
                    @if (Model.Villa.IsAvailable)
                    {
                        <button type="submit" class="btn btn-success w-100">Looks Good! Checkout Now</button>
                    }
                    else
                    {
                        <input class="btn btn-danger w-100" value="Sold Out" disabled />
                    }
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
